export GOPATH=$HOME/go
export GOROOT=$(go1.26.0 env GOROOT)
export PATH=${GOROOT}/bin:${PATH}
export DOCKER_BUILDKIT=1
#export TLS_SAN=cloud.private
#export BUILDKIT_PROGRESS=plain
#export NO_COLOR=1
export BUILDKIT_COLORS="run=123,20,245:error=yellow:cancel=blue:warning=white"

#export DOCKER_HOST=172.21.1.10
export DOCKER_HOST=localhost
export ENVIRONMENT="/mnt/c/IDE/Projects_Git/playground/nomadder/ansible/environment/local"

#export DOCKER_HOST=192.168.65.20
#export ENVIRONMENT="/mnt/c/IDE/Projects_Git/playground/nomadder/ansible/environment/prod_lotte"

export DOCKER_CERT_PATH="$ENVIRONMENT/docker_client"
#export DOCKER_TLS_VERIFY=1

# Comment the REGISTRY out for push to dockerhub or replace it with your own
#export REGISTRY=10.21.21.41:5001
export BUILD_VERSION=1.2.0.0
